body 		 		{ font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF; font-size: smaller}
td 			 		{ font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF;}
a  	 		 		{ text-decoration: none; }
a:active	 	{ color: blue; text-decoration: underline;}
a:hover		 	{ color: red; text-decoration: underline;}
.gray_bg    { background-color: #CCCCCC; bg-color: #CCCCCC}
.saisie_bg 	{ background-color: #EEEEEE}
.attente_bg { background-color: #FFFFCC}
.encours_bg { background-color: #FFCCED}
.arch_bg 	 	{ background-color: #CCFFCC}
.fact_bg	 	{ background-color: #CCAACC; bg-color: #CCCCCC}
.show  			{display: block;}
.hide  			{display: none;}
.red  			{color: #ff0000;}
.blue 			{color: #0000ff;}
.yellow 		{color: #0ffff;}
.big  			{ font-size: 1.25rem;}
.bigger			{ font-size: 1rem;}
.bold 			{ font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
.rectangle 	{ position: relative: bottom: 0; height: 22px; width: 28px; background: #ff0000; float: left; margin-right: 10px;}
.mt10 			{ margin-top: 10px;}
.model 			{
	width:400px;
	padding: 10px 20px 0 0;
	border: 1px solid #bbbbbb;
}
.col2 {
	width: 50%;
	padding: 0 10px 0 0;
	float: left;
}

.popup_alert {
	position: absolute;
	top: 15%;
	z-index: 10;
	left: 20%;
	width: 850px;
	background-color: #ffe496;
	border: 1px solid #aaaaaa;
	padding : 50px 10px 50px 10px;
	display: none;	
}

.right			{ float: right; }
.left				{ float: left; }
.oversize 	{ background-color: #f4e841;' }
.italic			{ font-style: italic;}
.underline	{ text-decoration: underline; }
.note				{ background-color: #ffe496; padding: 15px; }
.pl30				{ padding-left: 30px; }
