	<div style="width: 100%; padding: 10px;">
		<div class="row">
			<div class="col-md-3">Commande no.</div>
			<div class="col-md-9"><TMPL_VAR NAME=nocmd></div>
		</div>
		<div class="row">
			<div class="col-md-3">SCIPER</div>
			<div class="col-md-9"><TMPL_VAR NAME=scipertodo></div>
		</div>
		<div class="row">
			<div class="col-md-3">Date</div>
			<div class="col-md-9"><TMPL_VAR NAME=date></div>
		</div>
		<div class="row">
			<div class="col-md-3">Etat</div>
			<div class="col-md-9"><TMPL_VAR NAME=status></div>
		</div>
		<div class="row">
			<div class="col-md-3"><TMPL_VAR NAME=quantite_label></div>
			<div class="col-md-9"><TMPL_VAR NAME=quantite></div>
		</div>
		<div class="row">
			<div class="col-md-3"><TMPL_VAR NAME=label_fond></div>
			<div class="col-md-9"><TMPL_VAR NAME=fond></div>
		</div>
	</div>
