<TMPL_INCLUDE NAME=header.tmpl>

<TMPL_VAR NAME=del_note> : <TMPL_VAR NAME=nocmd>

<div class="big bold"><a href="/edit?scipertodo=<TMPL_VAR NAME=scipertodo>"><TMPL_VAR NAME=neworder></a></div>

<TMPL_INCLUDE NAME=footer.tmpl>

