<TMPL_INCLUDE NAME=header.tmpl>

<form name="card" method="post" action="/show">
	<input name="resp"  		 type="hidden" value="<TMPL_VAR NAME=resp>">
  <input name="scipertodo" type="hidden" value="<TMPL_VAR NAME=scipertodo>">
  <input name="nocmd" 		 type="hidden" value="<TMPL_VAR NAME=nocmd>">
  <input name="fond" 			 type="hidden" value="<TMPL_VAR NAME=fond>">
  <input name="etat" 			 type="hidden" value="<TMPL_VAR NAME=etat>">
  <input name="update_cmd" type="hidden" value="1">

	<TMPL_IF NAME=accreds_loop>
		<div style="width: 100%; border: 1px solid #aaaaaa; padding: 10px;">
		<h4><TMPL_VAR NAME=accreds_txt></h4>
		<ul style="margin-left: 10px;">
		<TMPL_LOOP NAME=accreds_loop>
		<li><a href="/edit?nocmd=<TMPL_VAR NAME=nocmd>&scipertodo=<TMPL_VAR NAME=scipertodo>&unitid=<TMPL_VAR NAME=unitid>&card_lang=<TMPL_VAR NAME=card_lang>"><TMPL_VAR NAME=path1> / <TMPL_VAR NAME=path2> / <TMPL_VAR NAME=path3></a></li>
		</TMPL_LOOP>
		</ul>
		<h4><TMPL_VAR NAME=card_lang_txt> : 

		<a href="/edit?nocmd=<TMPL_VAR NAME=nocmd>&scipertodo=<TMPL_VAR NAME=scipertodo>&card_lang=fr"><img src="/images/fr.png" style="height: 25px;"></a>
		<a href="/edit?nocmd=<TMPL_VAR NAME=nocmd>&scipertodo=<TMPL_VAR NAME=scipertodo>&card_lang=en"><img src="/images/en.png" style="height: 25px;"></a>
		</h4>
		</div>
	</TMPL_IF>

	<div style="width: 100%; padding: 10px;">
		<div class="row">
			<div class="col-md-3">Commande no.</div>
			<div class="col-md-9"><TMPL_VAR NAME=nocmd></div>
		</div>
		<div class="row">
			<div class="col-md-3">SCIPER</div>
			<div class="col-md-9"><TMPL_VAR NAME=scipertodo></div>
		</div>
		<div class="row">
			<div class="col-md-3">Date</div>
			<div class="col-md-9"><TMPL_VAR NAME=date></div>
		</div>
		<div class="row">
			<div class="col-md-3">Etat</div>
			<div class="col-md-9"><TMPL_VAR NAME=status></div>
		</div>
		<div class="row">
			<div class="col-md-3"><TMPL_VAR NAME=quantite_label></div>
			<div class="col-md-9">
				<select name=quantite>
				<TMPL_LOOP NAME=quant_loop>
					<option value="<TMPL_VAR NAME=quantite>" <TMPL_VAR NAME=selected>><TMPL_VAR NAME=quantite></option>
				</TMPL_LOOP>
				</select> pcs (<i><TMPL_VAR NAME=prix>: <TMPL_VAR NAME=prices_list></i>)
			</div>
		</div>
	</div>

<!-- 
	<table border=0 width='99%'>
	 <tr><td width="20%">Commande no: </td><td><TMPL_VAR NAME=nocmd> </td></tr>
	 <tr><td>Enregistrée le:</td><td><TMPL_VAR NAME=date></td></tr>
	 <tr><td>Etat: </td><td><TMPL_VAR NAME=status></td></tr>
	 <tr><td>sciper: </td><td><TMPL_VAR NAME=scipertodo></td></tr>
	 <tr><td><TMPL_VAR NAME=quantite_label>: </td>
	 		<td>
				<select name=quantite>
				<option value='50' >50</option>
				<option value='100' >100</option>
				<option value='200' >200</option>
				<option value='300' >300</option>
				</select> pcs (<i><TMPL_VAR NAME=prix>: 50 pc Frs 15.-, 100 pc Frs 25.-, 200 pc Frs 30.-, 300 pc Frs 35.-</i>)
	 		</td>
	 </tr>
	</table>
 -->
	
	<hr>
	
	<table width="99%" border="0" class=gray_bg>
	 <tr>
		<td width="30%" valign="top"><span class="blue bold">1</span> <b><TMPL_VAR NAME=label_path></b>:</td>
		<td>
			<input id="path1" type="text" name="path1"  value="<TMPL_VAR NAME=path1>" size=48 <TMPL_VAR NAME=path1_alert>> 
			<a href="#"> <img id="path1_img" src="<TMPL_VAR NAME=path1_img>" style="height: 20px;" onclick="toggleVis('path1')"></a>
			<input type="hidden" id="path1_hide" name="path1_hide"  value="<TMPL_VAR NAME=path1_hide>">
		
			<br>
			<input id="path2" type="text" name="path2"  value="<TMPL_VAR NAME=path2>" size=48 <TMPL_VAR NAME=path2_alert>> 
			<a href="#"> <img id="path2_img" src="<TMPL_VAR NAME=path2_img>" style="height: 20px;" onclick="toggleVis('path2')"></a>
			<input type="hidden" id="path2_hide" name="path2_hide"  value="<TMPL_VAR NAME=path2_hide>">

			<br>
			<input id="path3" type="text" name="path3"  value="<TMPL_VAR NAME=path3>" size=48 <TMPL_VAR NAME=path3_alert>> 
			<a href="#"> <img id="path3_img" src="<TMPL_VAR NAME=path3_img>" style="height: 20px;" onclick="togglePathShow('path3')" ></a>
			<input type="hidden" id="path3_hide" name="path3_hide"  value="<TMPL_VAR NAME=path3_hide>">
			
			<br>
			<input id="path4" type="text" name="path4"  value="<TMPL_VAR NAME=path4>" size=48 <TMPL_VAR NAME=path4_alert>> 

		</td>
	 </tr>
	<tr>
		<td><span class='blue bold'>2</span> <TMPL_VAR NAME=label_title> </td>
		<td><input id=titre name=titre value="" size=48 ></td>
	<tr>
		<td><b><TMPL_VAR NAME=label_firstname></b> </td>
		<td><input id=pnom name=firstname value="<TMPL_VAR NAME=firstname>"" size=48 ></td>
	<tr>
		<td><b><TMPL_VAR NAME=label_name></b> </td>
		<td><input id=nom name=name value="<TMPL_VAR NAME=name>" size=48 ></td>
	<tr>
		<td><TMPL_VAR NAME=label_function> </td>
		<td><input id=fonc1 name=fonction1 value="<TMPL_VAR NAME=fonction1>" size=48 ></td>
	<tr>
		<td> </td>
		<td><input id=fonc2 name=fonction2 value="<TMPL_VAR NAME=fonction2>" size=48 ></td>
	<tr>
		<td><span class='blue bold'>3</span> <TMPL_VAR NAME=label_phone> </td>
		<td><input id=tel name=phone1 value="<TMPL_VAR NAME=phone1>" size=48 ></td>
	<tr>
		<td> </td>
		<td><input id=mobile name=phone2 value="<TMPL_VAR NAME=phone2>" size=48 ></td>
	<tr>
		<td>Mail </td>
		<td><input id=email name=email value="<TMPL_VAR NAME=email>" size=48 ></td>
	</table>
		
	<div class="bold" style="margin-top: 15px;"><span class='blue'>4</span> <TMPL_VAR NAME=label_type></div>
	<div style="width: 30%; float: left;">
		<select name="card_type" onchange="toggleTypeCV(this.options[this.selectedIndex].value, '<TMPL_VAR NAME=mailid>');">
		<option value="adresse" <TMPL_VAR NAME=card_type_adresse>>Adresse EPFL</option>
		<option value="people" <TMPL_VAR NAME=card_type_people> >Page people</option>
		<option value="web" <TMPL_VAR NAME=card_type_web> >Site web personnel</option>
		</select>
	</div>

	<div id="display_adresse" style="display: <TMPL_IF NAME=card_type_adresse>block;<TMPL_ELSE>none;</TMPL_IF> width: 70%; float: left;">
		<input id="adresse" name="adresse" value="<TMPL_VAR NAME=adresse>" size="42" <TMPL_VAR NAME=adresse_alert>>
	</div>
	<div id="display_people" style="display: <TMPL_IF NAME=card_type_people>block;<TMPL_ELSE>none;</TMPL_IF> width: 70%; float: left;">
		people.epfl.ch/<TMPL_VAR NAME=mailid>
	</div>
	<div id="display_web" style="display: <TMPL_IF NAME=card_type_webe>block;<TMPL_ELSE>none;</TMPL_IF> width: 70%; float: left;">
	  <input name="web" value="<TMPL_VAR NAME=web>"  size="48">
	</div>
	
	<br>
	<div style="margin-top: 20px;">
	<p><b>Remarques :</b> (max 255 car) <br>
	<br><textarea name=comments rows=3 style="width: 75%;"><TMPL_VAR NAME=comments></textarea>
	<hr>
	<div style="display: flex; justify-content: space-between; width: 60%;">
		<div style="flex: 1;">
			<button name="delete" class="bigger bold" onclick="
			if (confirm ('<TMPL_VAR NAME=delete_confirm>')) {
				location.href='/delcmd?nocmd=<TMPL_VAR NAME=nocmd>&notif=1';
				return false;
			} else {
			 return false;
			}"><TMPL_VAR NAME=delete_label>
			</button>
		</div>
		<div style="flex: 1;">
			<button name="submit" class="bigger bold"><TMPL_VAR NAME=show></button>
		</div>
	</div>
</form>
	
<TMPL_INCLUDE NAME=footer.tmpl>

