
	<div class="col2">
		<span  class="bold">Recto (logo EPFL)</span><br>
		<br>
		<img src="../images/recto.png" class="model"><br>
	</div>
	<div class="col2">
		<span  class="bold">Description du contenu du verso de la carte de visite</span><br>
		<br>
		<img src="../images/verso-explications.png" class="model"> 
	</div>

	<br>
	<div style="margin-top: 20px;">
		<span class="red bold"><TMPL_VAR NAME=prix>: </span> 50 pc Frs 15.- / 100 pc Frs 25.- / 200 pc Frs 30.- / 300 pc Frs 35.-<br>
		<span class="red bold"><TMPL_VAR NAME=responsable>:  </span> <a href="mailto:carinne.christinaz@epfl.ch">carinne.christinaz@epfl.ch,roland.chabloz@epfl.ch</a>, t&eacute;l. <b>342 82</b>
	</div>

<!-- 
	<div class="note">
		<b>ATTENTION - WARNING</b>
		<br>
		<span class="italic">Chaque ligne est volontairement bloquée à 40 caractères au maximum; de ce fait nous vous recommandons de <span class="underline">vérifier soigneusement</span> les texte car des mots pourraient être coupés en fin de ligne.</span><br>
		<br>
		<span class="italic">Each line is deliberately blocked at a maximum of 40 characters; so we advise you to <span class="underline">check the text carrefully</span> because some words may be cut at the end of the line.</span>
	</div>
 -->
	<div >
		<TMPL_VAR NAME=main_note>
	</div>
