
	<div class="row">
		<H4 style="padding: 5px 20px 5px 20px; margin-bottom: 20px; border: 1px solid #aaaaaa; background-color: #eeeeee;">
		<TMPL_IF NAME=browser_FR><a href="/docs/CV-fr.pdf" target="_blank" class="red bold">Read first: Corporate Identity Recommandations</a>
		<TMPL_ELSE><a href="/docs/CV-en.pdf" target="_blank" class="red bold">Important à lire : Recommandations Identité visuelle EPFL à suivre</a>
		</TMPL_IF>
		</H3>
	</div>
	<div class="row">
		<div class="col2">
			<span  class="bold">Recto (logo EPFL)</span><br>
			<br>
			<img src="../images/recto.png" class="model"><br>
		</div>
		<div class="col2">
			<span  class="bold"><TMPL_VAR NAME=label_description></span><br>
			<br>
			<img src="../images/verso-explications.png" class="model"> 
		</div>
	</div>
	
	<div class="row" style="margin-top: 30px;">
		<p style=" width: 100%;">
		<TMPL_VAR NAME=corp_ident_quest> : <a href="mailto:corp-id@epfl.ch">corp-id@epfl.ch</a>
		</p>
		<p style=" width: 100%;">
		<TMPL_VAR NAME=repro_quest> : <a href="mailto:carinne.christinaz@epfl.chh">carinne.christinaz@epfl.ch</a>
		</p>
	</div>

	<div  class="row">
		<TMPL_VAR NAME=main_note>
	</div>
