<TMPL_INCLUDE NAME=header.tmpl>

<TMPL_INCLUDE NAME=card.tmpl>

	<TMPL_IF NAME=status_input>

		<div style="display: flex; justify-content: space-between; width: 80%; padding-top: 25px;">
				<div style="flex: 1;">
					<button name="submit" class="bigger bold" onclick="location.href='/edit?nocmd=<TMPL_VAR NAME=nocmd>'; return false;"><TMPL_VAR NAME=fix></button>
				</div>
				<div  style="flex: 1;">
					<button name="delete" class="bigger bold" onclick="
					if (confirm ('<TMPL_VAR NAME=delete_confirm>')) {
						location.href='/delcmd?nocmd=<TMPL_VAR NAME=nocmd>&notif=1';
						return false;
					} else {
					 return false;
					}"><TMPL_VAR NAME=delete_label>
					</button>
				</div>
			
				<div id="order_button"  style="flex: 1;">
					<button name="submit" class="bigger bold" onclick="location.href='/valid?nocmd=<TMPL_VAR NAME=nocmd>'; return false;"><TMPL_VAR NAME=submit_button_label></button>
				</div>
		</div>

	</TMPL_IF>

	<TMPL_IF NAME=status_queue>
		<div style="display: flex; justify-content: space-between; width: 80%; padding-top: 25px;">
				<div style="flex: 1;">
					<button name="submit" class="bigger bold" onclick="location.href='/edit?nocmd=<TMPL_VAR NAME=nocmd>'; return false;"><TMPL_VAR NAME=fix></button>
				</div>

				<div  style="flex: 1;">
					<button name="delete" class="bigger bold" onclick="
					if (confirm ('<TMPL_VAR NAME=delete_confirm>')) {
						location.href='/delcmd?nocmd=<TMPL_VAR NAME=nocmd>&notif=1';
						return false;
					} else {
					 return false;
					}"><TMPL_VAR NAME=delete_label>
					</button>
				</div>

			</div>

			<TMPL_IF NAME=isReproStaff>
				<TMPL_INCLUDE NAME=en_cours.tmpl>
			</TMPL_IF>

	</TMPL_IF>

	<TMPL_IF NAME=status_processing>
		<TMPL_IF NAME=isReproStaff>
				<div style="display: flex; justify-content: space-between; width: 80%; padding-top: 15px;">
					<div >
						<button name="done" class="bigger bold" onclick="location.href='/done?nocmd=<TMPL_VAR NAME=nocmd>'; return false;"">Fermer
						</button>
						<br>
						<br>
						<b>Fermer et archiver la commande</b>: le bénéficiaire de la commande (<TMPL_VAR NAME=firstname> <TMPL_VAR NAME=name>) sera averti par mail pour passer prendre les cartes de visites.
					</div>

					<div >
						<button name="delete" class="bigger bold" onclick="
						if (confirm ('<TMPL_VAR NAME=delete_confirm>')) {
							location.href='/delcmd?nocmd=<TMPL_VAR NAME=nocmd>&notif=1';
							return false;
						} else {
						 return false;
						}">Annuler
						</button>
						<br>
						<br>
						<b>Annuler cette commande</b> : en cas d'erreur ou abandon de la commande
					</div>

					<div>
						<button name="copy" class="bigger bold" onclick="location.href='/copy?nocmd=<TMPL_VAR NAME=nocmd>'; return false;">Dupliquer	</button>
						<br>
						<br>
						<b>Dupliquer cette commande</b>
					</div>

				</div>
		</TMPL_IF>

	</TMPL_IF>

	<TMPL_IF NAME=status_done>
		<TMPL_IF NAME=isReproStaff>
			<div style="display: flex; justify-content: space-between; width: 80%; padding-top: 25px;">
				<div  style="flex: 1;">
					<button name="delete" class="bigger bold" onclick="
					if (confirm ('<TMPL_VAR NAME=delete_confirm>')) {
						location.href='/delcmd?nocmd=<TMPL_VAR NAME=nocmd>&notif=1';
						return false;
					} else {
					 return false;
					}"><TMPL_VAR NAME=delete_label>
					</button>
				</div>

				<div>
					<button name="copy" class="bigger bold" onclick="location.href='/copy?nocmd=<TMPL_VAR NAME=nocmd>'; return false;">Dupliquer	</button>
					<br>
					<br>
					<b>Dupliquer cette commande</b>
				</div>

			</div>
		</TMPL_IF>

	</TMPL_IF>

	<TMPL_IF NAME=status_archive>

		<div style="padding-top: 15px;">
			<button name="copy" class="bigger bold" onclick="location.href='/copy?nocmd=<TMPL_VAR NAME=nocmd>'; return false;">Dupliquer	</button>
			<br>
			<br>
			<b>Dupliquer cette commande</b>
		</div>
					
	</TMPL_IF>


<TMPL_INCLUDE NAME=footer.tmpl>

